version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./backend
    container_name: api
    restart: always
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      AUTO_MIGRATE: "true"

      SECRET_KEY: ${SECRET_KEY}

      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_FROM: ${SMTP_FROM}

      SERVER_DOMAIN: ${SERVER_DOMAIN}
      SERVER_ADMIN_LOGIN: ${SERVER_ADMIN_LOGIN}
      SERVER_ADMIN_PASSWORD: ${SERVER_ADMIN_PASSWORD}
      SERVER_PORT: ${SERVER_PORT}
      SERVER_LOGGER_CONSOLE: "false"
    volumes:
      - ./backend/logs:/app/logs
    depends_on:
      postgres:
        condition: service_healthy
    expose:
      - "8080"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "4444:80"

volumes:
  postgres_data:
